@page
@model PaymentsWeb.Pages.CaseDetails.AddServiceRequestModel



@{
    ViewData["Title"] = "Add Service Request";
}

<div class="container mt-5">
    <h2>Add Service Request</h2>

    <form method="post" asp-page-handler="AddFee">
         <div class="mb-3">
            <input type="hidden" asp-for="CaseId" />
            <input type="hidden" asp-for="FeeCode"  value="Fee999"/>
            <label asp-for="FeeAmount" class="form-label"></label>
            <input asp-for="FeeAmount" class="form-control" />
            <span asp-validation-for="FeeAmount" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <form method="post" asp-page-handler="AddFee1">
        <div class="mb-3">
            <input type="hidden" asp-for="CaseId" />
            @foreach (var fee in Model.AllFees)
            {
                <div class="form-check">
                    <input type="checkbox"
                           class="form-check-input"
                           name="SelectedFeeIds"
                           value="@fee.Code"
                           id="product_@fee.Code" />
                    <label class="form-check-label" for="product_@fee.Code">
                        @String.Concat(fee.Code, "[", @fee.Amount, "]")
                    </label>
                </div>
            }
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    
</div>

