@page
@model WebApplication1.Pages.CaseListModel
@{
    ViewData["Title"] = "Cases";
}

<h2>Case List</h2>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Case ID</th>
            <th>Service Request</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var case1 in Model.CaseList)
        {
            <tr>
                <td>
                    <a href="CaseDetails/Case?caseId=@case1.CaseId">
                    @case1.CaseId
                    </a>
                </td>
                <td>@case1.ServiceRequests[0].Reference</td>
            </tr>
        }
    </tbody>
</table>
